.cardtype3 {
    background-color: #181818;
    border: 2px none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1vw;
    margin-bottom: 2vw;
}
.cardtype3 h1 {
    font-size: 1.5vw;
    color: white;
    padding: 1vw
}
.cardtype3 p {
    font-size: 1.3vw;
    color: white;
    padding: 1vw
}
.mail {
    font-size: 1.5vw;
    color: white;
    padding: .5vw
}
.mail a{
    color: #3db166;
}