.container{
   
    display: flex;
    flex-direction: column;
    align-items: center;

}


.sectionA{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/medicinespageimage.png'); */
    border-radius: 5px;
    background-size: cover;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    display: flex;
    flex-direction: column;
    
}


.medicinesHeader{
    color: #3db166;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 80vw;
    flex-direction: row-reverse;
   

}
.medicinesHeader h2{
    padding: 10px;
}
.searchBar{
   margin-top: 2vh;
    max-width: 50vw;
}
.list{
    display: flex;
    padding: 2vw;
    flex-direction: column;

}
.medlistli{
    color: #181818;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding: .5vw;
    font-size: 18px;
    font-weight: 400;
    width: 10vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.noDiseases {
  font-size: 1.2rem;
  color: #181818;
  text-align: center;
  margin-top: 2rem;
}