/* Import Poppins and Merriweather fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.medicinesdeatilspage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.medicinepagerouter {
  display: flex;
  gap: 1vw;
  margin-top: 4vh;
  padding-left: 5vw;
  color: #181818;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: 700;
}

.medicinespagelink {
  text-decoration: none;
}

.linktext {
  text-decoration: underline #3db166;
}

.medicinedetails {
  width: 90vw;
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
  align-self: center;
  justify-self: center;
  margin-top: 5vh;
  padding: 2vw;
  display: flex;
}

.medicinename {
  font-size: 30px;
  font-weight: 800;
  color: #181818;
  padding-left: 1vw;
  font-family: 'Poppins', sans-serif;
}

.medicineformula {
  font-size: 1.5vw;
  color: #3db166;
  padding-left: 1.5vw;
  font-family: 'Poppins', sans-serif;
}

.medicinedescription {
  font-size: 1.5vw;
  color: #181818;
  padding-left: 1.5vw;
  font-family: 'Merriweather', sans-serif;
}

.medicinedosage {
  font-size: 1.5vw;
  color: #3db166;
  padding: 1vw 1.5vw;
  font-family: 'Merriweather', sans-serif;
}

.dosageforchildren {
  font-size: 1.5vw;
  color: #181818;
  padding-left: 2vw;
  padding-bottom: 0.5vw;
  font-family: 'Merriweather', sans-serif;
}

.medicinesideeffects {
  font-size: 1.5vw;
  color: #3db166;
  padding: 1vw 2vw;
  font-family: 'Merriweather', sans-serif;
}

.medicinesideeffectslist {
  font-size: 1.5vw;
  color: #181818;
  padding-left: 2vw;
  font-family: 'Merriweather', sans-serif;
}

.medicinealternatives {
  font-size: 1.5vw;
  color: #3db166;
  padding: 1vw 2vw;
  font-family: 'Merriweather', sans-serif;
}

.medicinealternativeslist {
  font-size: 1.5vw;
  color: #181818;
  font-family: 'Merriweather', sans-serif;
}

.medicinealternativeslist li {
  list-style: none;
  padding-left: 2vw;
}