.card {
    height:40vh;
    width: 50vw;
   
    z-index: 5;
    background-color: white;
    color: rgb(7, 25, 82);
    transition-duration: 1s;
    cursor: pointer;
    border: 2px none;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    flex-direction: column;
}

.card h1 {
    text-align: center;
    color: rgb(7, 25, 82);
    margin-bottom: 1vh;
    padding-bottom: auto;
    
}

.cardp {
    padding: 1vw;
    font-size: 2vw;
    font-weight: bold
}

.paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
   
}

.card a {
    text-decoration: none
}

.cardhead {
    text-decoration: underline
}

.cardhead:hover {
    text-decoration: none
}

.arrow {
    width: 4vw;
    height: auto;
    padding: .5vw;
    color: white;
    border-radius: 50%;
    background-color: rgb(7, 25, 82)
}

@media screen and (max-width:800px) {
    .card {
       
        height: 25vh;
        width: 80vw
    }

    .card p {
        font-size: 5vw;
    }
    .arrow{
        width: 9vw;
    }
}

@media screen and (min-height:900px) and (min-width:1000px) {
    .card {
        height: 20vh
    }

    .card p {
        font-size: medium
    }
}