.listtype h1 {
    padding: 1vw
}

.listtype nav {
    padding: 1vw
}

.listtype1 {
    background-color: rgb(7, 25, 82);
    margin: .5vw;
    padding: 1vw;
    width: 30vw;
    list-style: none;
    cursor: pointer;
    transition-duration: .5s ease;
}
.listtype1:hover{
    background-color:  rgb(32, 30, 67);
}

.listtype1 a {
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
    font-weight: bold
}

@media screen and (max-width:700px) {
    .listtype1 {
        width: 80vw;
        margin: 1vw
    }
}